@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: hsl(140,25%, 75%);
    --list-color: hsla(140,75%, 50%, .45);
    --button-hover-click: hsl(160, 100%, 50%);
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

body {
    background-color: var(--bg-color);
}

.container {
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input {
    min-width: 300px;
    margin-bottom: 1rem;
    padding: .5rem;
}

#item {
    width:12rem;
}

#list {
    display: flex;
    flex-direction: column;
    width:100%;
}


.taskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    min-width: 300px;
    max-width: 650px;
    background-color: var(--list-color);
    margin: .5rem auto;
    border-radius: 4px;
    border: 1px solid black;
}

.taskContainer .checkDone {
    margin-right: 1rem;
}

.taskContainer .taskItem {
    width:50%;
}

.taskContainer .btnContainer {
    display: inline;
    margin-left: auto;
}

#clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    margin-bottom: 10px;
}

button {
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;;
    background-color: var(--list-color);
    margin-right: .25rem;
    padding: 5px 10px;
}

button:hover, button:focus {
    background-color: var(--button-hover-click);
}

input {
    font-size: 1rem;
    outline: none;
}

input:focus {
    border: 2px solid var(--list-color);
}

@media ( min-width: 300px ) {
    button {
        font-size: .8rem;
    }
}

@media print {
    #item, button {
        display:none;
    }
}